Sources/AMServices/source/trunk/AccountManager/AccountManagerWebServices/Web References/SMSService/SMSSendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sms.bluezone.vn" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sms.bluezone.vn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sms.bluezone.vn">
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isUnicode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="smsId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsHttpGetIn">
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="sms" type="s:string" />
    <wsdl:part name="isUnicode" type="s:string" />
    <wsdl:part name="smsId" type="s:string" />
    <wsdl:part name="service_id" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSmsHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="SMSSendServiceSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSSendServiceHttpGet">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsHttpGetIn" />
      <wsdl:output message="tns:SendSmsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSSendServiceSoap" type="tns:SMSSendServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://sms.bluezone.vn/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSSendServiceSoap12" type="tns:SMSSendServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://sms.bluezone.vn/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSSendServiceHttpGet" type="tns:SMSSendServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendSms">
      <http:operation location="/SendSms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSSendService">
    <wsdl:port name="SMSSendServiceSoap" binding="tns:SMSSendServiceSoap">
      <soap:address location="http://115.165.162.27/tcsc_ws_pushsms/SMSSendService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSSendServiceSoap12" binding="tns:SMSSendServiceSoap12">
      <soap12:address location="http://115.165.162.27/tcsc_ws_pushsms/SMSSendService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSSendServiceHttpGet" binding="tns:SMSSendServiceHttpGet">
      <http:address location="http://115.165.162.27/tcsc_ws_pushsms/SMSSendService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>